<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- title %></title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="icon" href="img/favicon/android-icon-192x192.png" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest/dist/editor.css">
</head>

<body>

	<nav>
		<div>
			<img src="img/logo_1.jpg" alt="Logo" class="logo">
		</div>
		<div>
			<button name="chapters">Chapters</button>
		</div>
		<br>
		<div>
			<button name="entries">New Entry</button>
		</div>
		<br>
		<div>
			<button name="tags">Tags</button>
		</div>
		<br>
		<div>
			<button name="reminds">Reminds</button>
		</div>
		<br>
		<div>
			<button name="system">System</button>
		</div>
	</nav>
	<div>
		<main><%- body %></main>
	</div>
	<script src="js/base.js" defer></script>
	<script src="js/editor.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
</body>

</html>