<h1>Entries</h1>

<button type="button" name="reset-button">Reset</button>

<form name="tag-form">
	<h3>Tag selection :</h3>
	<table>
		<thead>
			<tr>
				<th>Principle</th>
				<th>Tag</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select name="principle-list"></select>
				</td>
				<td>
					<select name="tag-list"></select>
				</td>
			</tr>
		</tbody>
	</table>
	<input type="submit" name="valid-tag" value="next">
	<p>.SO</p>
</form>
<br>
<form name="city-country-form">
	<h3>Where ?</h3>
	<p name="current-tag"></p>
	<table>
		<thead>
			<tr>
				<th>City</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="city"></td>
				<td><input type="text" name="country"></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" name="valid-city-country" value="next">
	<p>.SO</p>
</form>
<br>
<form name="message-form">
	<h3>Message :</h3>
	<p name="tag-city-country"></p>
	<p name="previous-data"></p>
	<textarea id="markdown"></textarea>
	<div class="button-container">
		<button type="button" name="previous">Previous</button>
		<button type="button" name="next">Next</button>
	</div>
	<button type="button" name="clear-text">New</button>
	<input type="submit" name="valid-message" value="next">
	<div>
		<p class="right">.SO</p>
		<h3>Comment : </h3>
		<textarea id="markdown-comment"></textarea>
		<button type="button" name="save-comment">Save</button>

	</div>
	<p class="right">.SO</p>
</form>
<br>
<form name="date-form">
	<button name="see-message">See Message</button>
	<p name="infos-message"></p>
	<h3>Time and sending :</h3>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Now</th>
				<th>Remind</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="message-date"></td>
				<td><input type="button" name="time-now" value="time-now"></td>
				<td><button type="button" name="reminds-entries">Sign and add Remind</button></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" name="send-message" value="sign">
	<p>.SO</p>
</form>
<form name="remind-form">
	<table>
		<thead>
			<tr>
				<th>Remind Date</th>
				<th>Repeat</th>
				<th>Remind Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="date" name="remind-date" required>
				</td>
				<td>
					<select name="repeat" required>
						<option value="unique">Unique</option>
						<option value="pin">Pin</option>
						<option value="daily">Daily</option>
						<option value="weekly">Weekly</option>
						<option value="monthly">Monthly</option>
					</select>
				</td>
				<td>
					<input type="text" name="remind-title" placeholder="Enter Title" required>
				</td>
				<td><button type="button" name="send-remind">Send</button></td>
			</tr>
		</tbody>
	</table>
	<p>.SO</p>
</form>
<script src="js/entries.js" defer></script>