<h1>Reminds</h1>

<div name="reminds-buttons" class="reminds-buttons">
	<button name="current-reminds">Current</button>
	<button name="pinned-reminds">Pinned</button>
	<button name="all-reminds">All</button>
</div>
<h2 name="status">Status</h2>
<form name="current-pinned">
	<table>
		<thead>
			<tr>
				<th>Tag</th>
				<th>Title</th>
				<th>Message-id</th>
				<th>Date-remind</th>
				<th>Read</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="tag"></td>
				<td><input type="text" name="title"></td>
				<td><input type="text" name="message-id"></td>
				<td><input type="text" name="date-remind"></td>
				<td><button name="read">Read</button></td>
			</tr>
		</tbody>
	</table>
</form>
<form name="all"></form>
<form name="edit"></form>
<form name="read"></form>
<script src="js/reminds.js" defer></script>