<h1>Reminds</h1>

<div name="reminds-buttons" class="reminds-buttons">
	<button name="current-reminds">Current</button>
	<button name="pinned-reminds">Pinned</button>
	<button name="all-reminds">All</button>
</div>
<h2 name="status">Status</h2>
<form name="current-pinned">
	<table>
		<thead>
			<tr>
				<th>Tag</th>
				<th>Title</th>
				<th>Message-id</th>
				<th>Date-remind</th>
				<th>Read</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="tag"></td>
				<td><input type="text" name="title"></td>
				<td><input type="text" name="message-id"></td>
				<td><input type="text" name="date-remind"></td>
				<td><button name="read">Read</button></td>
			</tr>
		</tbody>
	</table>
</form>
<form name="all">
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Message-id</th>
				<th>Date-remind</th>
				<th>Repeat</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="title"></td>
				<td><input type="text" name="message-id"></td>
				<td><input type="text" name="date-remind"></td>
				<td><input type="text" name="repeat"></td>
				<td><button name="edit">Edit</button></td>
				<td><button name="delete">Delete</button></td>
			</tr>
		</tbody>
	</table>
</form>
<form name="edit">
	<fieldset style="display: flex; flex-direction: column; gap: 10px; width: 200px;">
		<legend>Edit Reminder</legend>

		<label for="title">Title</label>
		<input type="text" name="title" style="width: 200px;">

		<label for="message-id">Message-id</label>
		<input type="text" name="message-id" style="width: 200px;">

		<label for="date-remind">Date-remind</label>
		<input type="text" name="date-remind" style="width: 200px;">

		<label for="repeat">Repeat</label>
		<input type="text" name="repeat" style="width: 200px;">

		<button name="save-edit">Save</button>
	</fieldset>
</form>
<form name="read">
	<p name="data"></p>
	<textarea id="markdown"></textarea>
	<input type="submit" name="valid-message" value="Sign">
	<p class="right">SO</p>
</form>
<script src="js/reminds.js" defer></script>