<h1>System</h1>
<div name='return-button'></div>
<button type="button" name="reset">Reset</button>
</div>

<div name="date-picker">
	<br>
	<h2>Start a System check !</h2>
	<label for="datePicker">Select a date:</label>
	<input type="date" name="datePicker" />
	<p>Selected Date: <span name="selectedDate">None</span></p>
	<button name="start-system">Next</button>
</div>

<h3 name="working-date"></h3>

<div name="buttons-principles">
	<p>I am doing a fucking test</p>
</div>


































































<script src="js/system.js" defer></script>