<h1>System</h1>

<div name='return-button'>
	<button type="button" name="reset">Reset</button>
</div>

<div name="date-picker">
	<br>
	<h2>Start a System check !</h2>
	<p name="last-date"></p>
	<label for="datePicker">Select a date:</label>
	<input type="date" name="datePicker" />
	<p>Selected Date: <span name="selectedDate">None</span></p>
	<div name="special-actions">
		<button name="change-last-entry">Last update</button>
		<button name="see-previous-results">See all</button>
	</div>
	<button name="start-system">Next</button>
</div>

<h3 name="working-date"></h3>

<h3 name="current-principle"></h3>

<div name="buttons-principles"></div>

<div name="process-tag">

	<h3 name="current-tag">Current Tag: </h3>

	<form name="new-result">
		<h4>Insert new result:</h4>
		<table>
			<thead>
				<tr>
					<th>Result</th>
					<th>Observations</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select name="select-result">
							<option value="x">Select</option>
							<option value="1">Succeeded</option>
							<option value="0">Other</option>
							<option value="-1">failed</option>
						</select>
					</td>
					<td>
						<input name="observation" type="text">
					</td>
					<td name="send">
						<button name="send-new-result">Send</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

	<form name="previous-result">

		<h4>Previous results: </h4>

		<table>
			<thead>
				<tr>
					<th>Tag</th>
					<th>Date</th>
					<th>observations</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="result-tag"></td>
					<td><input type="text" name="result-date"></td>
					<td><input type="text" name="result-observation"></td>
				</tr>
			</tbody>
		</table>

	</form>

	<form name="comment-tag">

		<h4>Comment Tag: </h4>

		<textarea id="markdown"></textarea>

		<p class="right">.SO</p>
	</form>
</div>


<form name="change-last-entry">

	<h4>Last result inserted in system : </h4>

	<table>
		<thead>
			<tr>
				<th>date</th>
				<th>principle</th>
				<th>tag</th>
				<th>observations</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="date" name="last-date"></td>
				<td><input type="text" name="last-principle"></td>
				<td><input type="text" name="last-tag"></td>
				<td><input type="text" name="last-observation"></td>
				<td><button type="button" name="delete-last">delete</button></td>
			</tr>
		</tbody>
	</table>

	<button name="go-back-last">Go Back</button>

</form>

<form name="see-all-results-tag">

	<h4>See all results of one tag : </h4>

	<div name="selector-tag">
		<select name="tag-list-selector"></select>
		<button name="go-see-result">Go</button>
	</div>

	<div name="result-of-see-all-result-tag">

		<table name="result-full">
			<thead>
				<tr>
					<th>Date</th>
					<th>Tag</th>
					<th>observations</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="date" name="last-date-full"></td>
					<td><input type="text" name="tag-full"></td>
					<td><input type="text" name="observation-full"></td>
				</tr>
			</tbody>
		</table>

		<div name="buttons-action-full">
			<button name="previous-full">-</button>
			<button name="next-full">+</button>
		</div>

	</div>

	<button name="go-back-full">Go Back</button>

</form>


































































<script src="js/system.js" defer></script>