<h1>Tags</h1>
<p name="count-tags"></p>

<div name='return-button'>
	<button type="button" name="reset">Reset</button>
</div>

<form name="tags-filters">
	<h3>Filters :</h3>
	<br>
	<table>
		<thead>
			<tr>
				<th>active</th>
				<th>is-system</th>
				<th>is-principle</th>
				<th>principle</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select name="active-filter">
						<option value="all">all</option>
						<option value="yes">yes</option>
						<option value="no">no</option>
					</select>
				</td>
				<td>
					<select name="is-system-filter">
						<option value="all">all</option>
						<option value="yes">yes</option>
						<option value="no">no</option>
					</select>
				</td>
				<td>
					<select name="is-principle-filter">
						<option value="all">all</option>
						<option value="yes">yes</option>
						<option value="no">no</option>
					</select>
				</td>
				<td>
					<select name="principle-filter">
						<option value="all">all</option>
						<option value="none">none</option>
					</select>
				</td>
				<td><button type="button" name="apply-filters-tags">next</button></td>
			</tr>
		</tbody>
	</table>
</form>

<form name="tags-filtered">
	<h3>Tags Filtered</h3>
	<p name="current-filter"></p>
	<div name="return-button">
		<button type="button" name="back-to-filter">Filters</button>
	</div>
	<br>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>active</th>
					<th>is-system</th>
					<th>is-principle</th>
					<th>principle</th>
					<th>Created</th>
					<th>Updated</th>
					<th>Messages</th>
					<th>Comments</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="name-tag"></td>
					<td>
						<select name="active">
							<option value="no">No</option>
							<option value="yes">Yes</option>
						</select>
					</td>
					<td>
						<select name="is-system">
							<option value="no">No</option>
							<option value="yes">Yes</option>
						</select>
					</td>
					<td>
						<select name="is-principle">
							<option value="no">No</option>
							<option value="yes">Yes</option>
						</select>
					</td>
					<td>
						<select name="principle" ƒ>
							<option value="none">null</option>
						</select>
					</td>
					<td><input type="text" name="created-tag"></td>
					<td><input type="text" name="updated-tag"></td>
					<td><button type="button" name="see-messages-list-tag">Messages</button></td>
					<td><button type="button" name="see-comments-tag">Comment</button></td>
					<td>
						<button type="button" name="tag-update">Update</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>

<form name="message-list">
	<h3> Messages Found : </h3>
	<p name="tag-name-message-list"></p>
	<div name="return-button">
		<button type="button" name="go-back-tag-filtered">Tags</button>
		<button type="button" name="see-comment">Comment</button>
	</div>
	<br>

	<table>
		<thead>
			<tr>
				<th>Entry-id</th>
				<th>Chapter</th>
				<th>City</th>
				<th>Country</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="message-id"></td>
				<td><input type="text" name="message-chapter"></td>
				<td><input type="text" name="message-city"></td>
				<td><input type="text" name="message-country"></td>
				<td><input type="text" name="message-date"></td>
				<td><button type="button" name="message-read">Read</button></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" name="message-list-back" value="Back">
	<input type="submit" name="message-list-first" value="First">
	<input type="submit" name="message-list-next" value="Next">
</form>

<form name="message-comment-form">
	<h3 name="header-message-comment"></h3>

	<p name="paragraph-message-comment"></p>

	<div>
		<button type="button" name="go-back-message-list">Messages</button>
		<button type="button" name="go-back-tag-filtered">Tags</button>
	</div>
	<br>

	<textarea id="markdown"></textarea>

	<div class="button-container">
		<button type="button" name="message-previous">Previous</button>
		<button type="button" name="message-next">Next</button>
	</div>

	<input type="submit" name="comment-save" value="Save">
	<input type="submit" name="message-close" value="Close">

	<p class="right">.SO</p>
</form>

<script src="js/tags.js" defer></script>