/* base.css */
body {
    display: flex;
    flex-direction: row; /* Arrange children in a row */
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
}

nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 20px;
    border-right: 1px solid black;
    width: 200px; /* Adjust width as needed */
    align-items: center; /* Center items horizontally */
    background-color: #E8DDB5; /* Optional: Add background color */
}

nav .logo {
    max-width: 100%; /* Ensure the image scales down */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between the logo and buttons */
}

nav > div {
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}



button {
    width: 100%; /* Make buttons take full width of their container */
    padding: 10px; /* Add some padding for better appearance */
    border: none; /* Remove default button border */
    background-color: #E8DDB5; /* Add background color */
    font-size: 16px; /* Adjust font size as needed */
}

button:hover {
    background-color: #D2BE76; /* Change color on hover */
}

main {
    padding: 20px;
    flex: 1; /* Allow main to take remaining space */
    margin-left: 20px; /* Add space between nav and main */
    overflow: auto; /* Add scroll if content overflows */

}

/* tables */
ul {
	padding-left: 10px;
}

li {
	padding-left: 10px;
}

th,
td {
	border: 1px solid black;
	padding: 10px;
}
input[type="text"] {
    width: auto;
    min-width: 300px; /* Adjust this as needed */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

/* editor js */
#editorjs {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    height: 800px; /* Take up most of the viewport height */
    width: 800px; /* Take up most of the viewport width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: 0 auto; /* Center horizontally */
    overflow-y: auto; /* Enable scrolling inside the editor if needed */
}

.right {
	text-align: right; 
  }

  .button-container {
	display: flex;
}